div.detailed-cell {
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

div.detailed-cell h2 {
<<<<<<< HEAD
=======
    padding: 1rem 2rem;
    margin: 1rem 0;
>>>>>>> 275f40cb7c83f57ea98e43635d6c03bf5a4b0a9b
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: normal;
    color: var(--black);
    background-color: var(--white);
<<<<<<< HEAD
    width: 90%;
    height: 50px;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    align-items: center;
=======
    border-radius: 30px;
>>>>>>> 275f40cb7c83f57ea98e43635d6c03bf5a4b0a9b
}

div.detailed-cell div.cell-fill {
    width: 100%;
    flex-grow: 1;
    background-color: var(--red);
    border-top: 3px dotted var(--white);
    border-radius: 0 0 10px 10px;

    border-top: 5px dotted var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem 1rem;
}

div.detailed-cell div.cell-fill p {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}