div.detailed-cell {
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    align-items: center;
}

div.detailed-cell h2 {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--white);
}

div.detailed-cell button {
    border: none;
    background-color: var(--white);
    width: 90%;
    height: 50px;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    align-items: center;
}

div.detailed-cell img {
    min-width: 100%;
    height: 90px;
    object-fit: cover;
    object-position: top;
}

div.detailed-cell div.cell-fill {
    width: 100%;
    flex-grow: 1;
    background-color: var(--red);
    border-radius: 0 0 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem 1rem;
}

div.detailed-cell div.cell-fill p {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}