div.detailed-cell {
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    align-items: center;
}

div.detailed-cell h2 {
    padding: 1rem 2rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--black);
    background-color: var(--white);
    border-radius: 30px;
}

div.detailed-cell div.cell-fill {
    width: 100%;
    flex-grow: 1;
    background-color: var(--red);
    border-top: 3px dotted var(--white);
    border-radius: 0 0 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem 1rem;
}

div.detailed-cell div.cell-fill p {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}