section.log-in-pop-up {
    width: 100%;
    height: fit-content;
    min-height: 50px;
    background-color: var(--dark-black);
    border: 3px dotted var(--white);
    border-radius: 20px;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

section.log-in-pop-up > div.open {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.log-in-pop-up > div.open label {
    width: 100%;
    height: fit-content;
    font-size: 1.3rem;
    color: var(--white);
}

section.log-in-pop-up > div.open label input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

section.log-in-pop-up > div.open button {
    margin-top: 1rem;
}