section.manager {
    z-index: 2;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: relative;

    border-radius: 10px;
    padding: 1rem;

    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;

    background-color: var(--dark-white);
}

section.manager::after {
    z-index: 1;
    position: absolute;
    content: "";
    width: calc(100% + 7px);
    height: calc(100% + 7px);
    border-radius: 10px;
    top: -5px;
    left: -5px;
    border: 2px solid var(--white);
}