label.read-files {
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    background-color: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 5px 5px 10px;
}

label.read-files > p {
    width: 80%;
    color: var(--black)
}

label.read-files > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label.read-files > img {
    user-select: none;
    height: 100%;
    padding: .2rem;
    border-radius: 50%;

    background-color: var(--black);
}